name: Create Environment

on:
  push:
    branches: [ main ]

jobs:
  build-and-create-environment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - id: lower-case_github_user
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ env.GITHUB_USER }}

      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'

      - name: Configure git credentials
        run: |
          git config --global user.name "AlexisVS"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: 'AlexisVS/multipass'
          ref: main
          token: ${{ secrets.PAT }}

      - name: Install Composer dependencies
        run: ls -al ./ && cp composer.modules.json.blank composer.modules.json && composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts

      - name: Generate key
        run: php artisan key:generate

      - name: Directory and Permissions
        run: |
          mkdir -p storage/framework/{sessions,views,cache}
          mkdir -p bootstrap/cache
          chmod -R 777 storage bootstrap/cache

      - name: Clear cache
        run: php artisan cache:clear

      - name: Create Database
        run: |
          mkdir -p database
          touch database/database.sqlite

      - name: Build assets
        run: npm install && npm run build

      - name: Create composer.modules.json and fill it
        run: |
          cat <<EOF > composer.modules.json
          {
            "repositories": [
            {
              "type": "vcs",
              "url": "https://github.com/${{ github.repository }}"
            }
          ],
            "require": {
              "$GITHUB_USER/$GITHUB_REPO_NAME": "dev-main"
            }
          }
          EOF

      - name: Update Composer modules
        run: composer update

      - name: Check Environment
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: vendor/bin/phpunit
